<h1 style="color: teal;">1</h1>
<h1 style="color: blue;">2</h1>
<h1 style="color: brown;">3</h1>
<h1 style="color: chocolate;">4</h1>
<h1 style="color: tomato;">5</h1>
<h1 style="color: khaki;">6</h1>
<h1 style="color: darkslateblue;">7</h1>
<h1 style="color: maroon;">8</h1>
<h1 style="color: darkblue;">9</h1>
<h1 style="color: mediumvioletred;">10</h1>