<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
</p>

<p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    Dolores odit minus nulla eum perferendis culpa voluptatum vero ipsam voluptate ex libero nam dicta error, assumenda est officia voluptas praesentium laborum?
</p>