<p><ins>Laskar Pelangi</ins> is one of best books released on 2008, this book <i><b>written</b></i> by <ins>Andrea Hirata</ins> whom known as an author and have wrote many <i><b>interesting</b></i> books with great story telling. Laskar Pelangi was published by Bentang Pustaka on 2008.</p>