<h1>Front-End, Back-End, Full-Stack, Apa Artinya?</h1>
<a href="#frontend">Front-End</a><br>
<p>
Pernahkah kamu mendengar atau melihat perusahaan yang membuka lowongan kerja untuk front-end developer, back-end developer, atau full-stack developer? Apakah artinya istilah-istilah tersebut?
Seiring perkembangan teknologi, web telah berkembang menjadi lebih kompleks. Ini membuat developer juga menjadi lebih terspesialisasi. Artinya, seorang developer tidak harus melakukan keseluruhan proses membangun web lagi, tetapi fokus pada bagian tertentu saja, entah itu salah satu bahasa pemograman, framework, atau bagian teknikal lainnya.</p><br>
<p>
Berikut akan dijelaskan lebih jauh mengenai pengertian masing-masing istilah di atas:</p><br>
<h3 id="frontend">
Front-End</h3>
<p>
Bagian front-end dari sebuah website adalah bagian yang langsung dilihat oleh user. User juga bisa langsung berinteraksi pada bagian ini. Bagian ini dibangun menggunakan HTML, CSS, dan JavaScript.
HTML (HyperText Markup Languange) adalah tulang punggung dari web. Semua website yang kamu kunjungi dibuat menggunakan HTML. HTML menentukan struktur dan konten website. Versi terakhir dari HTML adalah HTML5.</p>
<p>
CSS (Cascading Style Sheets) adalah bahasa pemograman yang mengontrol tampilan HTML pada halaman website. CSS menentukan warna, font, gambar background, dan bahkan bagaimana tampilan keseluruhan website-mu. Versi terakhir dari CSS adalah CSS3, yang menambahkan fitur seperti interaktifitas dan animasi dasar.</p>
<p>
Kamu bisa menciptakan sebuah website hanya dengan menggunakan HTML dan CSS, tetapi yang benar-benar akan membuat website kamu tampil menarik adalah JavaScript. Dengan JavaScript, kamu bisa melakukan banyak hal, seperti interaktifitas, animasi yang lebih kompleks, dan bahkan kamu juga bisa membuat fully feature web application.</p>
<p>
Dulu (sekitar tahun 2012), kebanyakan browser tidak dapat menginterpretasikan JavaScript dengan baik sehingga menambahkan fungsi-fungsi kompleks JavaScript bukanlah ide yang bagus. Tetapi, saat ini browser sudah menjadi lebih canggih dan bisa menjalankan JavaScript dengan baik. Ini menjadikan JavaScript tidak hanya digunakan untuk bagian back-end lagi. JavaScript sendiri juga telah mengalami banyak kemajuan dengan bertambahnya framework-framework seperti Angulars, jQuery, dan Node.js. Singkatnya, apa yang didefinisikan dengan front-end telah banyak berubah dalam waktu yang singkat.</p>
<p>
Front-end developer menggunakan HTML, CSS, dan JavaScript untuk coding website. Mereka menciptakan design website dan kemudian membuat website tersebut dapat berfungsi. Sebagian website hanya menggunakan HTML, CSS, dan JavaScript. Tetapi sebagian lainnya juga ada menggunakan back-end programming language.</p><br><br><br>

<h3 id="backend">
Back-End</h3>

<p>
Back-end adalah bagian belakang layar dari sebuah website. Bahasa pemograman untuk back-end development diantaranya adalah PHP, Ruby, Python, dan banyak lainnya.
</p>
<p>
Satu hal yang akan kamu temui: tidak akan banyak perusahaan yang mem-posting lowongan kerja dengan kalimat “back-end developer”. Yang akan lebih sering kamu temui adalah lowongan pekerjaan untuk “Ruby developer”, “PHP developer”, dll.
</p>
<p>
Ada banyak hal yang tidak bisa dilakukan oleh JavaScript, namun dapat dilakukan oleh bahasa pemograman back-end. Kebanyakan sistem manajemen konten dibangun melalui back-end programming, contohnya pada aplikasi web yang kompleks. Belajar coding akan mengajarkan kamu menemukan solusi terbaik untuk berbagai masalah, dan terkadang back-end programming adalah bagian dari solusi tersebut.
Untuk membangun sebuah website yang berjalan dengan baik, back-end developer biasanya bekerjasama dengan front-end developer.</p><br><br><br>