<a href="https://www.google.com/" target="_blank">Google</a><br>
<a href="https://www.gmail.com/" target="_blank">Gmail</a><br>
<a href="https://www.yahoo.com/" target="_blank">Yahoo</a><br>
<a href="https://www.twitter.com/" target="_blank">Twitter</a><br>
<a href="https://www.facebook.com/" target="_blank">Facebook</a>