<ul>
    <li>
        HTML adalah
            sebuah bahasa
            markup
            untuk membuat
            Web Pages.
    </li>
    <li>
        Git merupakan sarana untuk berkolaborasi dalam membangun
sebuat produk aplikasi.
    </li>
    <li>
        Internet adalah suatu jaringan komunikasi yang menghubungkan satu media elektonik dengan media yang lainnya.
    </li>
    <li>
        Smartphone adalah telepon genggam atau telepon seluler pintar yang dilengkapi dengan fitur yang mutakhir dan berkemampuan tinggi layaknya sebuah komputer.
    </li>
    <li>CSS
        adalah
        bahasa
        untuk
        menentukan
        bagaimana
        Dokumen
        itu
        disajikan.</li>
</ul>